.nav-link {
    font-size: 1.3rem;
}

.bhaiya-photo {
    width: 15rem;
}

.bhaiya-name {
    font-family: "Kaushan Script", cursive;
    transform: rotate(-7deg);
}

.bhaiya-talent {
    font-family: 'Space Mono', monospace;
}
